
body{
  background-color: hsl(0, 0%, 10%);
}

.to_do_list{
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  margin-top: 100px;
}
h1{
  font-size: 4rem;
  color: white;
}
button{
  font-size: 1.7rem;
  font-weight: bold;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  color: white;
  transition: background-color 0.5s ease;
}
.add_button{
  background-color: hsl(120, 100%, 54%);
}
.add_button:hover{
  background-color: hsl(120, 100%, 40%);
}
.delete_button{
  background-color: hsl(10, 90%, 50%);
}
.delete_button:hover{
  background-color: hsl(10, 90%, 40%);
}
.move_button{
  background-color: hsl(207, 100%, 54%);
}
.move_button:hover{
  background-color: hsl(207, 100%, 40%);
}
input[type="text"]{
  font-size: 1.7rem;
  padding: 10px;
  border-radius: 5px;
  border: 2px solid hsla(0, 0%, 80%,0.5);
  color: hsla(0, 0%, 0%,0.5);
}

ol{
  padding: 0;
}
li{
  font-size: 2rem;
  font-weight: bold;
  padding: 15px;
  background-color: hsl(0, 0%, 97%);
  margin-bottom: 10px;
  border: 3px solid hsla(0, 0%, 85%,0.75);
  border-radius: 5px;
  display: flex;
  align-items: center;
}
.text{
  flex: 1;
}
.delete_button, .move_button{
  padding: 8px 12px;
  font-size: 1.4rem;
  margin-left: 10px;
}