body{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: hsl(0, 0%, 95%);
}
.stopwatch{
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 5px solid;
  border-radius: 50px;
  background-color: white;
  padding: 30px;
}

.display{
  font-size: 5rem;
  font-family: monospace;
  font-weight: bold;
  color: hsl(0, 0%, 30%);
  text-shadow: 2px 2px 2px hsla(0,0%,0%,0.75);
  margin-bottom: 25px;
}

.controls button{
  font-size: 1.5rem;
  font-weight: bold;
  padding: 10px 20px;
  margin: 5px;
  min-width: 125px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  color: white;
  transition: background-color 0.5s ease;
}
.start_btn{
  background-color: hsl(120, 100%, 25%);
}
.start_btn:hover{
  background-color: hsl(120, 100%, 40%);
}
.stop_btn{
  background-color: hsl(0, 100%, 25%);
}
.stop_btn:hover{
  background-color: hsl(0, 100%, 40%);
}
.reset_btn{
  background-color: hsl(205, 90%, 25%);
}
.reset_btn:hover{
  background-color: hsl(205, 90%, 40%);
}
